@model FormularioDinamico.Domain.SubCategoria

@{
    ViewBag.Title = "Remover sub-categoria";
}

<h2>Remover sub-categoria</h2>

<h3>Deseja realmente remover esta sub-categoria?</h3>
<div>
    <h4>Sub-categoria</h4>
    <hr />
    <span class="text-danger field-validation-error"><span>@ViewBag.ErrorMessage</span></span>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancelar", "Index", "Categoria", null, new { @class="btn btn-primary"})
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
